$color_1: #fff;
$color_2: var(--main-color);
$background-color_1: rgba(0, 0, 0, 0.6);
$background-color_2: rgba(218, 218, 218, 0.19);
$background-color_3: var(--main-color);
$background-color_4: #333;
$border-color_1: transparent;

.contact {
	position: relative;
    background-image: url("../images/background-1.jpg");
	padding-top: 80px;
	padding-bottom: 80px;
	background-size: cover;
	.overlay {
        z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $background-color_1;
	}
	h2 {
	color: #fff;
	}
	form {
        position: relative;
		overflow: hidden;
		max-width: 800px;
		margin: auto;
		
		input {
			&:not([type="submit"]) {
				display: block;
				padding: 10px;
				margin-bottom: 15px;
				width: 100%;
				border: 1px solid #ccc;
				background-color: $background-color_2;
				&:focus {
					outline: 1px solid var(--main-color);
				}
			}
			height: 40px;
			&:not([type="submit"]) {
                &::-webkit-input-placeholder {
                    color: white;
                    opacity: .8;
     
                 }
				&:focus {
					&::-webkit-input-placeholder {
						opacity: 0;
						transition: .3s;
					}
					&::-ms-input-placeholder {
						opacity: 0;
						transition: .3s;
					}
				}
			}
			&:focus {
				&::placeholder {
					opacity: 0;
					transition: .3s;
				}
			}
		}
		textarea {
			display: block;
			padding: 10px;
			margin-bottom: 15px;
			width: 100%;
			border: 1px solid #ccc;
			background-color: $background-color_2;
			height: 150px;
            &::-webkit-input-placeholder {
                color: white;
                opacity: .8;
 
             }
			&:focus {
				outline: 1px solid var(--main-color);
				&::-webkit-input-placeholder {
					opacity: 0;
					transition: .3s;

				}
				&::-ms-input-placeholder {
					opacity: 0;
					transition: .3s;

				}
				&::placeholder {
					opacity: 0;
					transition: .3s;
				}
			}
		}
		input[type="submit"] {
			background-color: $background-color_3;
			padding: 10px;
			width: 100%;
			transition: 0.3s;
			opacity: 0.7;
			border-color: $border-color_1;
			cursor: pointer;
			color: $color_1;
			&:hover{
				opacity: 1;
			}
		}
	}
}