section.about 
    .container 
        .row
            .col-md-6.col-xs-12.about-text
                h3.about-head  من نحن 
                p.about-paragraph 
                  | قال الأصمعي: (قلت لدرواس الأعرابي: ما جعل بني فلان أشرف من بني فلان؟ قال: الكتاب. يعني (القدَر)، ولم يقل: المكارم والفعال). وقال الجاحظ: (وهل أهلك عنزة، وجرما، وعكلا، وسلول، وباهلة، وغنيا، إلا الهجاء؟ وهذه قبائل فيها فضل كثير وبعض النقص، فمحق ذلك الفضل كله هجاء الشعراء).

            .col-md-6.col-xs-12.img-container.text-center
                img(src="images/background-2.jpg", alt="").rounded-circle