section.contact
  .overlay
  .container
    h2 تواصل بنا
    form(action='')
        .row
            .col-lg-6.col-xs-12
                input(type='text' placeholder='ألأسم' name='username')
                input(type='text' placeholder='رقم الهاتف' name='phone')
                input(type='mail' placeholder='الإميل' name='mail')
                input(type='text' placeholder='الموضوع' name='subject')
            .right.col-lg-6.col-xs-12
                textarea(name='message' placeholder='الرسالة')
                input(type='submit' value='إرسال')
