// Start Features
section.features
  h2 خصائصنا
  .container
    .row
        .feat-box.col-lg-4.col-md-6
            img(src='images/background-1.jpg' alt='')
            h4 المجال
            p            
                | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
        .feat-box.col-lg-4.col-md-6
                    img(src='images/background-1.jpg' alt='')
                    h4 المجال
                    p            
                        | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
        .feat-box.col-lg-4.col-md-6
                    img(src='images/background-1.jpg' alt='')
                    h4 المجال
                    p            
                        | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
        .feat-box.col-lg-4.col-md-6
                    img(src='images/background-1.jpg' alt='')
                    h4 المجال
                    p            
                        | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
        .feat-box.col-lg-4.col-md-6
                    img(src='images/background-1.jpg' alt='')
                    h4 المجال
                    p            
                        | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
        .feat-box.col-lg-4.col-md-6
                    img(src='images/background-1.jpg' alt='')
                    h4 المجال
                    p            
                        | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.

      
// End Features
