.nav-bullets
  .bullet(data-section='.about')
    .my-tooltip عنا
  .bullet(data-section='.services')
    .my-tooltip خدماتنا
  .bullet(data-section='.features')
    .my-tooltip مميزاتنا
  .bullet(data-section='.testimonials')
    .my-tooltip التوصيات
  .bullet(data-section='.contact')
    .my-tooltip التواصل
// End Nav Bullets
