// Start Landing Page
.landing-page
  .overlay
  .container.header-container
    .header-area
      .logo مَكتب النبلاء
      .links-container
        ul.links
          li
            span.active(data-section='.about-us')  عنَّا
          li
            span(data-section='.skills') خدماتنا
          li
            span(data-section='.gallery') أعمالنا
          li
            span(data-section='.timeline') الخط الزمني
          li
            span(data-section='.features') مميزاتنا
          li
            span(data-section='.testimonials') التوصيات
        button.toggle-menu
          span
          span
          span
  .intro-text
    h1
        |مكتب
        br
        span  النبلاء
        br
        |  القانوني
    //- pre.qotet-text 
    <blockquote>
      |"قَومٌ إِذا اِستُخصِموا كانوا فَراعِنَةً
      | يَوماً وَإِن حُكِّموا كانوا مَوازينا"
    </blockquote>
// End Landing Page
