section.services
  .container
    h2 خدماتنا
    .row
      .col-md-6.col-lg-3.d-flex.align-items-stretch(data-aos='fade-up')
        .icon-box.icon-box-pink
          .icon
            i.fa-solid.fa-book.fa-lg
          h4.title
            | كتابة عقود
          p.description
            | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
      .col-md-6.col-lg-3.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='100')
        .icon-box.icon-box-cyan
          .icon
            i.fa-solid.fa-book.fa-lg
          h4.title
            | كتابة عقود
          p.description
            | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
      .col-md-6.col-lg-3.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='200')
        .icon-box.icon-box-green
          .icon
            i.fa-solid.fa-book.fa-lg
          h4.title
            | كتابة عقود
          p.description
            | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
      .col-md-6.col-lg-3.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='200')
        .icon-box.icon-box-blue
          .icon
            i.fa-solid.fa-book.fa-lg
          h4.title
            | كتابة عقود
          p.description
            | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
// End Services Section
