section.testimonials
    .container
        #demo.carousel.slide(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    .ts-box
                        p
                            | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
                        .person-info
                            img(src='images/person-01.jpg' alt='')
                            h4 أحمد عباس
                            p CEO at the company
                .carousel-item
                    .ts-box
                        p
                            | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
                        .person-info
                            img(src='images/person-01.jpg' alt='')
                            h4 علي صالح
                            p CEO at the company
                .carousel-item
                    .ts-box
                        p
                            | كتابة عقود بلغةٍ عربيةٍ فصيحة، لا يشبها ضعف ولا خطل، من قبل متخصصين ضالعين في المجال.
                        .person-info
                            img(src='images/person-01.jpg' alt='')
                            h4 قاسم عبده
                            p CEO at the company
            button.carousel-control-prev(type='button' data-bs-target='#demo' data-bs-slide='prev')
                span.carousel-control-prev-icon
            button.carousel-control-next(type='button' data-bs-target='#demo' data-bs-slide='next')
                span.carousel-control-next-icon
