- var pageTitle= "Homepage";
doctype html
html(lang="en")
    head
        include pug/layouts/meta
        include pug/layouts/styles
    body 
        .page.home-page
            include pug/components/portflio
            include pug/components/services
            include pug/components/about
            include pug/components/features
            include pug/components/testimonials
            include pug/components/contact

            
        include pug/layouts/scripts