@import 'scss/variables/colors';
@import 'scss/layouts/global';
// @import 'scss/layouts/sidebar';
@import 'scss/layouts/header';
@import "fontawesome.min.css";
@import "all.min.css";
@import "scss/components/setting-box";
@import "scss/options/colors";
@import "scss/layouts/portflio";